.TransactionListContainer {
  width: 94%;
  height: 17%;
  display: flex;
  padding: 2%;
  flex-direction: column;
  justify-content: space-between;
  background-color: #e5e5e546;
  border-radius: 15px;
  margin: 3% 0;
}

.DateTxt {
  font-size: small;
  font-weight: bold;
}

.TransacDesc {
  display: flex;
  align-items: center;
  margin: 0 2em;
}

.Amount {
  width: 40%;
}
.PriceTxtGreen {
  font-size: medium;
  font-weight: bold;
  color: green;
}

.PriceTxtRed {
  font-size: medium;
  font-weight: bold;
  color: red;
}
.Description {
  width: 60%;
}

.TransacTxt {
  font-size: small;
}

.TransacType {
  color: #5e5e5e;
  font-size: x-small;
  text-align: right;
}
